body {
  background-color: #f5f5f5;
}
div {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #777777;
}
.head2 {
  color: darkblue;
}
}
.language {
  color: purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
